/* Toast Container */
.toast {
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  animation: slideIn 0.5s ease-in-out;
}

.toast span {
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.toast-container {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}

.toast {
  background-color: green;
  width: 12rem;
  padding: 1rem;
  color: white;
  border-radius: 0.5rem;
  position: relative;
  animation: slide 1s 1;
  margin: 0.5rem;
  span {
    position: absolute;
    right: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.success {
  background-color: #46af46;
}

.error {
  background-color: #df5239;
}

.warning {
  background-color: #fca200;
}

.info {
  background-color: #5899fe;
}
